<?js
var data = obj;
var self = this;
?>

<tr>
<td class="name" id="<?js= id ?>">
    <code><?js= data.attribs + name  ?></code>
</td>
<td>
<?js if (data && data.type && data.type.names) {?>
                <?js= self.partial('type.tmpl', data.type.names) ?>
    <?js } ?>
</td>
<td>
	<?js if (data.defaultvalue) {?>
		<?js= data.defaultvalue ?>
	<?js } ?>
  </td>
<td>
    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>
    <?js if (data && data.description) { ?>
    <div class="description">
        <?js= data.description ?>
    </div>
    <?js } ?>
    <?js if (data.examples && examples.length) { ?>
        <h5>Example<?js= examples.length > 1? 's':'' ?></h5>
        <?js= this.partial('examples.tmpl', examples) ?>
    <?js } ?>
</td>
<td>
    <?js if (data.meta && this.navOptions.outputSourceFiles) {?>


        <?js if (this.navOptions.linenums) {?>
				 <?js= self.linkto(meta.shortpath, meta.shortpath + ':' + meta.lineno, null, 'sunlight-1-line-' + meta.lineno) ?>
         <?js } ?>


	<?js } else if (data.meta && this.navOptions.outputSourcePath) { ?>
		<?js= meta.shortpath ?>
	<?js } ?>

</td>
</tr>
