<?js
var data = obj;
var self = this;
//TODO find where to put data.attribs
//same with signature
//(data.signature ? data.signature : '')
?>
<hr>
<dt class="name" id="<?js= id ?>">
    <h4><?js= data.prefixSymbol=='.'? 'static': data.prefixSymbol=='#'? 'instance': '' ?>
        <?js= (data.kind=='member'? 'var': 'type') ?>
        <b><?js= name ?></b>
    </h4>

    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>
</dt>
<dd>
    <?js if (data && data.description) { ?>
    <div class="description">
        <p style="margin-left:20px;"><?js= data.description ?></p>
    </div>
    <?js } ?>

    <?js if (data && data.type && data.type.names) {?>
        <h5>Type: <?js= self.partial('type.tmpl', data.type.names) ?></h5>
    <?js } ?>

    <?js= this.partial('details.tmpl', data) ?>

    <?js if (data.examples && examples.length) { ?>
        <h5>Example<?js= examples.length > 1? 's':'' ?></h5>
        <?js= this.partial('examples.tmpl', examples) ?>
    <?js } ?>
</dd>
