<?js
var data = obj;
?><?js 
if (data && data.description)
{
	?><p class="param-desc" style="margin-left: 20px;">
    <?js description = description.trim();
    if (description.indexOf('-') === 0) {
      description = description.substr(1);
    }
    description = description; ?>
		<?js= description ?>
	</p><?js 
}
?>
